/* Buttons*/
/* Forms*/
/* Grids*/
.opera-only :-o-prefocus {
  word-spacing: -.43em;
}

.opera-only :-o-prefocus {
  word-spacing: -.43em;
}

.section-u-1, .section, .section-u-1-2, .section-u-1-3, .sidebar, .section-u-2-3, .main, .section-u-1-4, .section-u-3-4, .section-u-1-5, .section-u-2-5, .section-u-3-5, .section-u-4-5, .section-u-1-6, .section-u-5-6, .section-u-1-8, .section-u-3-8, .section-u-5-8, .section-u-7-8, .section-u-1-12, .section-u-5-12, .section-u-7-12, .section-u-11-12, .section-u-1-24, .section-u-5-24, .section-u-7-24, .section-u-11-24, .section-u-13-24, .section-u-17-24, .section-u-19-24, .section-u-23-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.section-u-1, .section {
  display: block;
}

.section-u-1-2 {
  width: 50%;
}

.section-u-1-3, .sidebar {
  width: 33.33333%;
}

.section-u-2-3, .main {
  width: 66.66666%;
}

.section-u-1-4 {
  width: 25%;
}

.section-u-3-4 {
  width: 75%;
}

.section-u-1-5 {
  width: 20%;
}

.section-u-2-5 {
  width: 40%;
}

.section-u-3-5 {
  width: 60%;
}

.section-u-4-5 {
  width: 80%;
}

.section-u-1-6 {
  width: 16.656%;
}

.section-u-5-6 {
  width: 83.33%;
}

.section-u-1-8 {
  width: 12.5%;
}

.section-u-3-8 {
  width: 37.5%;
}

.section-u-5-8 {
  width: 62.5%;
}

.section-u-7-8 {
  width: 87.5%;
}

.section-u-1-12 {
  width: 8.3333%;
}

.section-u-5-12 {
  width: 41.6666%;
}

.section-u-7-12 {
  width: 58.3333%;
}

.section-u-11-12 {
  width: 91.6666%;
}

.section-u-1-24 {
  width: 4.1666%;
}

.section-u-5-24 {
  width: 20.8333%;
}

.section-u-7-24 {
  width: 29.1666%;
}

.section-u-11-24 {
  width: 45.8333%;
}

.section-u-13-24 {
  width: 54.1666%;
}

.section-u-17-24 {
  width: 70.8333%;
}

.section-u-19-24 {
  width: 79.1666%;
}

.section-u-23-24 {
  width: 95.8333%;
}

/* Menus*/
/* Tables*/
.my-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
}

.my-table caption {
  color: #000;
  font: italic 85%/1 arial,sans-serif;
  padding: 1em 0;
  text-align: center;
}

.my-table td, .my-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 6px 12px;
}

.my-table td:first-child, .my-table th:first-child {
  border-left-width: 0;
}

.my-table thead {
  background: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom;
  white-space: nowrap;
}

.my-table td {
  background-color: transparent;
}

.my-table tbody tr:nth-child(2n) td {
  background-color: #f2f2f2;
}

.my-table td {
  border-bottom: 1px solid #cbcbcb;
}

.my-table tbody > tr:last-child td {
  border-bottom-width: 0;
}

@media (max-width: 480px) {
  .container > .section,
  .container > [class*="section-"] {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .container > .section,
  .container > [class*="section-"] {
    width: 100%;
  }
}
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-weight: normal;
  color: #999;
}

/*
$extend-selectors: 
  // Grid
  g
  g-r
  u
  u-1
  u-1-2
  u-1-3
  u-2-3
  u-1-4
  u-3-4
  u-1-5
  u-2-5
  u-3-5
  u-4-5
  u-1-6
  u-5-6
  u-1-8
  u-3-8
  u-5-8
  u-7-8
  u-1-12
  u-5-12
  u-7-12
  u-11-12
  u-1-24
  u-5-24
  u-7-24
  u-11-24
  u-13-24
  u-17-24
  u-19-24
  u-23-24
  // Forms
  input-1
  input-1-2
  input-1-3
  input-2-3
  input-1-4
  input-3-4
  input-1-5
  input-2-5
  input-3-5
  input-4-5
  input-1-6
  input-5-6
  input-1-8
  input-3-8
  input-5-8
  input-7-8
  input-1-12
  input-5-12
  input-7-12
  input-11-12
  input-1-24
  input-5-24
  input-7-24
  input-11-24
  input-13-24
  input-17-24
  input-19-24
  input-23-24
  form
  form-aligned
  form-stacked
  group
  control-group
  controls
  checkbox
  radio

  // Buttons
  button
  button-disabled
  button-active
  button-primary

  // Tables
  table
  table-bordered
  table-horizontal
  table-odd

  // Menus
  menu
  menu-open
  menu-horizontal
  menu-heading
  menu-selected
  menu-disabled
  paginator
  ;
*/
