@import "pure/pure";
@import "pure/functions";

$pure-g-r-prefixes: container;
$pure-u-r-prefixes: section;
@include set-pure-r-prefixes;
@include set-pure-u-prefixes;

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

h1,h2,h3,h4 {
  font-weight: normal;
  color: #999;
}



// This is a standard use of Pure Place
.container {
}

.another-container {
}

.section {
  @extend %pure-u-1;
}

.main {
  @extend %pure-u-2-3;
}

.sidebar {
  @extend %pure-u-1-3;
}


.my-table {
  @extend %pure-table;
  @extend %pure-table-bordered;
  tbody tr:nth-child(2n) {
    @extend %pure-table-odd;
  }
}















// This is just for testing - it takes the list and makes selectors like
//   .place-_____ {
//     @extend %pure-_____ !optional;
//   }

/*
$extend-selectors: 
  // Grid
  g
  g-r
  u
  u-1
  u-1-2
  u-1-3
  u-2-3
  u-1-4
  u-3-4
  u-1-5
  u-2-5
  u-3-5
  u-4-5
  u-1-6
  u-5-6
  u-1-8
  u-3-8
  u-5-8
  u-7-8
  u-1-12
  u-5-12
  u-7-12
  u-11-12
  u-1-24
  u-5-24
  u-7-24
  u-11-24
  u-13-24
  u-17-24
  u-19-24
  u-23-24
  // Forms
  input-1
  input-1-2
  input-1-3
  input-2-3
  input-1-4
  input-3-4
  input-1-5
  input-2-5
  input-3-5
  input-4-5
  input-1-6
  input-5-6
  input-1-8
  input-3-8
  input-5-8
  input-7-8
  input-1-12
  input-5-12
  input-7-12
  input-11-12
  input-1-24
  input-5-24
  input-7-24
  input-11-24
  input-13-24
  input-17-24
  input-19-24
  input-23-24
  form
  form-aligned
  form-stacked
  group
  control-group
  controls
  checkbox
  radio

  // Buttons
  button
  button-disabled
  button-active
  button-primary

  // Tables
  table
  table-bordered
  table-horizontal
  table-odd

  // Menus
  menu
  menu-open
  menu-horizontal
  menu-heading
  menu-selected
  menu-disabled
  paginator
  ;
*/
$extend-selectors: null !default;
@if $extend-selectors != null {
  @each $selector in $extend-selectors {
    .place-#{$selector} {
      @extend %pure-#{$selector} !optional;
    }
  }
}
